<section style="padding: 30px 30px;">
    <div class="animated faceIn fast bg-white">

        <div class="container">
            <!-- <img src="../../../assets/img/IMG_20200815_170732.jpg" width="200px" class="img-profile center" alt="Avatar"> -->
            <div class="text-center">
                <div class="hover15">
                    <figure>
                        <img src="assets/img/gris2.jpg" width="200px" class=" rounded-circle" alt="...">
                    </figure>
                </div>
                <h1>Deysi Ortega</h1>
                <!-- <br> -->
                <h2>
                    <span class="link-icon fa-stack">
                        <a target="_blank" href="http://twitter.com/Deysukiz">
                            <i class="link-icon fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                        </a>
                    </span>
                    <span class="link-icon fa-stack">
                        <a href="mailto:dhortega.20@gmail.com">
                            <i class="link-icon fas fa-circle fa-stack-2x"></i>
                            <i class="far fa-envelope fa-stack-1x fa-inverse"></i>
                        </a>
                    </span>
                </h2>
            </div>
            <br>
            <h1>About</h1>
            <p class="text-justify light">
                Deysi Ortega holds a master's degree in Computer Science from CICESE (Center for Scientific Research and Higher Education at Ensenada, Baja California) and she worked under the supervision of Monica Tentori, Ph.D. Ortega’s interests are mainly in areas
                related to HCI, Pervasive Healthcare, Interactive Surfaces and Human-Computer Integration. She likes to sing and she is part of "The light of the world" church's choir.
            </p>
        </div>

    </div>
</section>
<app-cv></app-cv>
<app-publications></app-publications>
<app-contact></app-contact>